.railroad-primary-color {
  color: #0e283d;
}

.railroad-primary-background {
  background-color: #012e4c;
}

.railroad-secondary-color {
  color: #0460a0;
}

.railroad-secondary-background {
  background-color: #0460a0;
}

.railroad-footer-background {
  background-color: #031d32;
}

.railroad-nav-items:hover, .railroad-header-items:hover {
    color: #4797ff;
}

/* header */

.separator {
  height: 80%;
  width: 2px;
  background-color: #104368;
}

.header-font-size {
  font-size: 12px;
}

/* navbar */
.btn {
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 0px;
  font-weight: 600;
}

.nav-button-outline {
  border: 2px solid #104368;
}

.nav-railroad-button {
  background-color: #a31415;
  color: white;
}

.search-icon {
  font-size: 20px;
  margin-right: 10px;
}

.button-icon {
  font-size: 15px;
}

.nav-items {
  font-weight: 700;
  font-size: 14px;
}

/* home */
.background-image {
  background-image: url("../images/trainInBridge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 75, 124, 0.3);
  background-blend-mode: multiply;
  height: 77vh;
  width: 100%;
}

.search-bar {
  height: 12.1vh;
  background-image: url("../images/texture.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  background-color: rgba(0, 82, 136, 0.8);
  background-blend-mode: overlay;
}

.search-button {
  background-color: white;
  font-weight: 700;
}
