.no-fill {
  border: none;
  background: none;
}

.fill {
  border: none;
  background: black;
  color: white;
}

.underline {
  border-bottom: 1px solid black;
  padding: 0px 6px;
}

.separate-line {
  background: black;
  opacity: 0.3;
  width: 2px;
  height: 30px;
}

.smaller-font {
  font-size: 11px;
}

.object-position-left {
  object-position: 0px -30px;
}
.object-position-right {
  object-position: -280px -30px;
}
.object-position-center {
  object-position: -140px 0px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
    0 6px 20px 0 rgba(129, 74, 74, 0.05);
}

.card-image {
  width: 100%;
  height: 180px;
  object-position: center;
}

.card-holder {
  background: #fdfdfd;
}

.round-corner {
  border-radius: 20px;
}